#app-body {
    text-align: center;
    width: 300px;
    height: 470px;
    background-color: bisque;
    margin: 0 auto;
    border: 2px solid burlywood;
    border-radius: 8px;
}

#count-up {
    padding: 15px;
    font-size: 4em;
}

.btn {
    height: 58px;
    width: 240px;
    padding: 10px 24px;
    font-size: 2em;
    margin-bottom: 8px;
    border-radius: 8px;
    border: 1px solid sandybrown;
    background-color: rgb(240, 215, 215);
}

.btn:hover {
    background-color: black;
    color: antiquewhite;
    cursor: pointer;
}

.btn:active {
    font-size: 2.2em;
}

#save-btn {
    background: rgb(150, 95, 56);
    margin-bottom: 0;
}

#save-btn:active {
    font-size: 1em;
}

#count-prompt {
    margin: 8px 0px 4px;
    padding-top: 0;
    font-size: .8em;
    font-weight: 900;
}

#display-widget {
    margin: 0;
}

#display-prompt {
    margin-bottom: 64px;
}

/* #clear-btn {
    border: 1px solid rgb(55, 53, 53);
    margin-bottom: 16px;
    border-radius: 4px;
    background: rgb(243, 195, 132);
}

#clear-btn:hover {
    background-color: maroon;
    color: antiquewhite;
    cursor: pointer;
}

#clear-btn:active {
    font-size: 1.2em;
} */