body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: url("../images/background.jpg");
    color: rgb(236, 217, 217);
}

.circle-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

p {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
}

.first-para {
    margin-bottom: 5px;
}

input[type="email"] {
    border: 0;
    padding: 10px;
    font-size: 18px;
}

.btn {
    background-color: bisque;
    color: rgb(49, 46, 46);
    padding: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease;
}

.btn:hover {
    background-color: rgb(235, 215, 102);
    color: rgb(224, 117, 9);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

/* footer */

.main-footer {
    margin-top: 60px;
    /* background-color: #2c3e50; */
    /* Dark elegant blue */
    color: #ecf0f1;
    /* Off-white text */
    padding: 20px 0;
    /* Space on top and bottom */
    text-align: center;
    /* Centers everything */
    font-family: sans-serif;
}

.footer-links {
    list-style: none;
    /* Removes bullet points */
    padding: 0;
    margin-top: 20px;
    display: flex;
    /* Puts links side-by-side */
    justify-content: center;
    gap: 20px;
    /* Space between links */
}

.footer-links a {
    color: goldenrod;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: white;
    /* Glow effect on hover */
}