 /* * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 } */
 header {
     margin: auto;
 }

 p {
     padding: 10px;
 }

 nav a {
     color: white;
     display: block;
     padding: 10px;
 }

 nav {
     background: darkblue;
     padding: 10px;
 }

 h1 {
     color: darkblue;
 }

 img {
     width: 150px;
     height: auto;
     border: 1px solid black;
     padding: 2px;
     box-shadow: 0 0 30px gray;
 }

 /* :root {
    --primary-color: darkblue;
    --text-light: white;
    --border-color: black;
    --shadow-color: gray;

    --padding-small: 2px;
    --padding-medium: 10px;
    --padding-large: 20px;

    --image-width: 150px;
}

nav {
    background: var(--primary-color);
    padding: var(--padding-medium);
}

nav a {
    color: var(--text-light);
    display: block;
    padding: var(--padding-large);
}

h1 {
    color: var(--primary-color);
}

img {
    width: var(--image-width);
    height: auto;
    border: 1px solid var(--border-color);
    padding: var(--padding-small);
    box-shadow: 0 0 30px var(--shadow-color);
}

p {
    padding: var(--padding-medium);
} */

 /* 





 /* Comments for my class selector */

 .box {
     margin: 1rem;
     border: 1px solid rgba(0, 0, 0, .1);
     padding: 1rem;
     background-color: bisque;
     color: black;

 }

 main {
     max-width: 840px;
 }

 aside {
     width: 20em;
     margin: 1em;
     border: 1px solid rgb(0 0 0 / 0.2);
     padding: 1 em;
     background-color: #eee;
     color: #333;
     text-align: center;
 }

 aside img {
     width: 200px;
     height: auto;
 }

 main img {
     width: 150px;
     height: auto;
     border: 1px solid steelblue;
     padding: 2px;
     box-shadow: 0 0 30px gray;
 }

 p {
     padding: 0;
 }

 footer {
     margin-top: 1em;
     border-top: 1px solid #000;
     text-align: center;
 }